# Importing datasets and necesarry Libraries

Lets import pandas and Numpy Libraries

In [1]:
import pandas as pd
import numpy as np

We will be using the dataset provided in the assignment

The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:

1. Cement

2. Blast Furnace Slag

3. Fly Ash

4. Water

5. Superplasticizer

6. Coarse Aggregate

7. Fine Aggregate

Let's read the dataset into a pandas dataframe.

In [2]:
concrete_data = pd.read_csv("C:/Users/hp/Downloads/concrete_data.csv")
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

Lets check how many data points we have

In [3]:
concrete_data.shape

(1030, 9)

Lets use describe function to get the statistics of the data

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

Lets check if the data contains any missing values in the dataset

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data does not contain any Missing values So we are ready to build the model

## Spliting the data into predictor and Target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [7]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength']

Describing the predictors

In [8]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

Decribing the target

In [9]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Knowing the number of predictors

In [10]:
n_cols = predictors.shape[1] # number of predictors
n_cols

8

# Import Keras

In [11]:
import keras

Lets import the Sequential and Dense Layers to create our model

In [12]:
from keras.models import Sequential
from keras.layers import Dense

## Creating our model and Compiling the model

The above function creates a model that has one hidden layer with 10 neurons and a ReLU activation function. It uses the adam optimizer and the mean squared error as the loss function.

In [13]:
def model():
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))

    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

Now As mentioned we use Scikit-learn inn order to randomly split the data into training and test set

In [23]:
from sklearn.model_selection import train_test_split

In [28]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

## Train and Test the Network

Let's call the function now to create our model.

In [24]:
model = model()

Now we'll train about 50 epochs

In [29]:
epochs=50
model.fit(X_train,y_train,epochs=epochs,verbose=1)

Epoch 1/50
23/23 [==============================] - 8s 18ms/step - loss: 570866.1875
Epoch 2/50
23/23 [==============================] - 0s 11ms/step - loss: 417603.0312
Epoch 3/50
23/23 [==============================] - 0s 13ms/step - loss: 304005.0000
Epoch 4/50
23/23 [==============================] - 0s 9ms/step - loss: 217757.7969
Epoch 5/50
23/23 [==============================] - 0s 10ms/step - loss: 152712.0625
Epoch 6/50
23/23 [==============================] - 0s 9ms/step - loss: 103999.0938
Epoch 7/50
23/23 [==============================] - 0s 9ms/step - loss: 68354.8203
Epoch 8/50
23/23 [==============================] - 0s 9ms/step - loss: 43119.4961
Epoch 9/50
23/23 [==============================] - 0s 14ms/step - loss: 26149.9082
Epoch 10/50
23/23 [==============================] - 0s 9ms/step - loss: 15380.7598
Epoch 11/50
23/23 [==============================] - 0s 10ms/step - loss: 9058.6260
Epoch 12/50
23/23 [==============================] - 0s 8ms/step - loss: 5571.6738
Epoch 13/50
23/23 [==============================] - 0s 8ms/step - loss: 3816.9771
Epoch 14/50
23/23 [==============================] - 0s 14ms/step - loss: 2966.4087
Epoch 15/50
23/23 [==============================] - 0s 10ms/step - loss: 2606.4744
Epoch 16/50
23/23 [==============================] - 0s 15ms/step - loss: 2436.0479
Epoch 17/50
23/23 [==============================] - 0s 9ms/step - loss: 2357.9788
Epoch 18/50
23/23 [==============================] - 0s 8ms/step - loss: 2312.0420
Epoch 19/50
23/23 [==============================] - 0s 8ms/step - loss: 2277.3391
Epoch 20/50
23/23 [==============================] - 0s 13ms/step - loss: 2245.6924
Epoch 21/50
23/23 [==============================] - 0s 9ms/step - loss: 2215.3403
Epoch 22/50
23/23 [==============================] - 0s 10ms/step - loss: 2187.0222
Epoch 23/50
23/23 [==============================] - 0s 9ms/step - loss: 2158.1958
Epoch 24/50
23/23 [==============================] - 0s 9ms/step - loss: 2130.2583
Epoch 25/50
23/23 [==============================] - 0s 18ms/step - loss: 2102.1995
Epoch 26/50
23/23 [==============================] - 0s 11ms/step - loss: 2074.6824
Epoch 27/50
23/23 [==============================] - 0s 8ms/step - loss: 2047.1575
Epoch 28/50
23/23 [==============================] - 0s 8ms/step - loss: 2020.9731
Epoch 29/50
23/23 [==============================] - 0s 8ms/step - loss: 1994.8782
Epoch 30/50
23/23 [==============================] - 0s 8ms/step - loss: 1968.9021
Epoch 31/50
23/23 [==============================] - 0s 9ms/step - loss: 1944.1694
Epoch 32/50
23/23 [==============================] - 0s 8ms/step - loss: 1918.6064
Epoch 33/50
23/23 [==============================] - 0s 7ms/step - loss: 1895.2761
Epoch 34/50
23/23 [==============================] - 0s 7ms/step - loss: 1870.7170
Epoch 35/50
23/23 [==============================] - 0s 13ms/step - loss: 1847.4126
Epoch 36/50
23/23 [==============================] - 0s 9ms/step - loss: 1824.9521
Epoch 37/50
23/23 [==============================] - 0s 9ms/step - loss: 1802.8911
Epoch 38/50
23/23 [==============================] - 0s 8ms/step - loss: 1781.5055
Epoch 39/50
23/23 [==============================] - 0s 8ms/step - loss: 1758.4426
Epoch 40/50
23/23 [==============================] - 0s 13ms/step - loss: 1736.9218
Epoch 41/50
23/23 [==============================] - 0s 8ms/step - loss: 1715.1874
Epoch 42/50
23/23 [==============================] - 0s 10ms/step - loss: 1694.3130
Epoch 43/50
23/23 [==============================] - 0s 9ms/step - loss: 1673.1262
Epoch 44/50
23/23 [==============================] - 0s 9ms/step - loss: 1653.5985
Epoch 45/50
23/23 [==============================] - 0s 8ms/step - loss: 1631.7162
Epoch 46/50
23/23 [==============================] - 0s 8ms/step - loss: 1613.5095
Epoch 47/50
23/23 [==============================] - 0s 10ms/step - loss: 1592.0103
Epoch 48/50
23/23 [==============================] - 0s 7ms/step - loss: 1573.0737
Epoch 49/50
23/23 [==============================] - 0s 8ms/step - loss: 1553.7410
Epoch 50/50
23/23 [==============================] - 0s 8ms/step - loss: 1534.4194

Next we need to evaluate the model on the test data.

In [30]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 1s 8ms/step - loss: 1394.7872
10/10 [==============================] - 0s 5ms/step

1394.7872314453125

Now we need to compute the mean squared error between the predicted concrete strength and the actual concrete strength.

In [31]:
from sklearn.metrics import mean_squared_error

In [32]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

1394.7870055476506 0.0

Create a list of 50 mean squared errors and report mean and the standard deviation of the mean squared errors.

In [33]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 882.5225830078125
10/10 [==============================] - 0s 5ms/step
MSE 2: 512.2734375
10/10 [==============================] - 0s 5ms/step
MSE 3: 267.1809387207031
10/10 [==============================] - 0s 6ms/step
MSE 4: 186.9139404296875
10/10 [==============================] - 0s 5ms/step
MSE 5: 146.8606414794922
10/10 [==============================] - 0s 9ms/step
MSE 6: 110.93917846679688
10/10 [==============================] - 0s 4ms/step
MSE 7: 144.0098876953125
10/10 [==============================] - 0s 5ms/step
MSE 8: 104.38367462158203
10/10 [==============================] - 0s 5ms/step
MSE 9: 97.76538848876953
10/10 [==============================] - 0s 4ms/step
MSE 10: 80.8412857055664
10/10 [==============================] - 0s 7ms/step
MSE 11: 69.03504180908203
10/10 [==============================] - 0s 5ms/step
MSE 12: 64.33028411865234
10/10 [==============================] - 0s 5ms/step
MSE 13: 71.178466796875
10/10 [==============================] - 0s 5ms/step
MSE 14: 75.49060821533203
10/10 [==============================] - 0s 6ms/step
MSE 15: 63.36311721801758
10/10 [==============================] - 0s 5ms/step
MSE 16: 56.834957122802734
10/10 [==============================] - 0s 6ms/step
MSE 17: 55.45856857299805
10/10 [==============================] - 0s 4ms/step
MSE 18: 51.20492935180664
10/10 [==============================] - 0s 5ms/step
MSE 19: 45.61457824707031
10/10 [==============================] - 0s 5ms/step
MSE 20: 50.70008850097656
10/10 [==============================] - 0s 4ms/step
MSE 21: 48.31735610961914
10/10 [==============================] - 0s 5ms/step
MSE 22: 46.59312057495117
10/10 [==============================] - 0s 6ms/step
MSE 23: 46.45854568481445
10/10 [==============================] - 0s 6ms/step
MSE 24: 46.51271438598633
10/10 [==============================] - 0s 5ms/step
MSE 25: 52.327598571777344
10/10 [==============================] - 0s 5ms/step
MSE 26: 48.472713470458984
10/10 [==============================] - 0s 6ms/step
MSE 27: 50.543277740478516
10/10 [==============================] - 0s 5ms/step
MSE 28: 45.72649002075195
10/10 [==============================] - 0s 7ms/step
MSE 29: 52.401206970214844
10/10 [==============================] - 0s 7ms/step
MSE 30: 61.38337326049805
10/10 [==============================] - 0s 4ms/step
MSE 31: 52.694793701171875
10/10 [==============================] - 0s 5ms/step
MSE 32: 43.51734924316406
10/10 [==============================] - 0s 5ms/step
MSE 33: 49.68528366088867
10/10 [==============================] - 0s 6ms/step
MSE 34: 53.2508659362793
10/10 [==============================] - 0s 4ms/step
MSE 35: 46.47670364379883
10/10 [==============================] - 0s 4ms/step
MSE 36: 52.63232421875
10/10 [==============================] - 0s 4ms/step
MSE 37: 52.56350326538086
10/10 [==============================] - 0s 3ms/step
MSE 38: 52.547271728515625
10/10 [==============================] - 0s 4ms/step
MSE 39: 49.50328826904297
10/10 [==============================] - 0s 8ms/step
MSE 40: 44.99844741821289
10/10 [==============================] - 0s 4ms/step
MSE 41: 55.38970947265625
10/10 [==============================] - 0s 4ms/step
MSE 42: 46.756385803222656
10/10 [==============================] - 0s 4ms/step
MSE 43: 47.70583724975586
10/10 [==============================] - 0s 4ms/step
MSE 44: 55.27341079711914
10/10 [==============================] - 0s 5ms/step
MSE 45: 55.56725311279297
10/10 [==============================] - 0s 5ms/step
MSE 46: 54.391517639160156
10/10 [==============================] - 0s 6ms/step
MSE 47: 52.61711120605469
10/10 [==============================] - 0s 5ms/step
MSE 48: 51.47941207885742
10/10 [==============================] - 0s 5ms/step
MSE 49: 51.62294387817383
10/10 [==============================] - 0s 5ms/step
MSE 50: 57.023406982421875
10/10 [==============================] - 0s 7ms/step


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 93.22669613368369
Standard Deviation: 134.89585213692948