# Importing datasets and necesarry Libraries

Lets import pandas and Numpy Libraries

In [36]:
import pandas as pd
import numpy as np

We will be using the dataset provided in the assignment

The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:

1. Cement

2. Blast Furnace Slag

3. Fly Ash

4. Water

5. Superplasticizer

6. Coarse Aggregate

7. Fine Aggregate

Let's read the dataset into a pandas dataframe.

In [37]:
concrete_data = pd.read_csv("C:/Users/hp/Downloads/concrete_data.csv")
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

Lets check how many data points we have

In [38]:
concrete_data.shape

(1030, 9)

Lets use describe function to get the statistics of the data

In [39]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

Lets check if the data contains any missing values in the dataset

In [40]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data does not contain any Missing values So we are ready to build the model

## Spliting the data into predictor and Target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [41]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength']

Describing the predictors

In [42]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

Decribing the target

In [43]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Normalizing the Predictors

In [44]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

Knowing the number of predictors

In [45]:
n_cols = predictors_norm.shape[1] # number of predictors
n_cols

8

# Import Keras

In [46]:
import keras

Lets import the Sequential and Dense Layers to create our model

In [47]:
from keras.models import Sequential
from keras.layers import Dense

## Creating our model and Compiling the model

The above function creates a model that has one hidden layer with 10 neurons and a ReLU activation function. It uses the adam optimizer and the mean squared error as the loss function.

In [48]:
def model():
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))

    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

Now As mentioned we use Scikit-learn inn order to randomly split the data into training and test set

In [49]:
from sklearn.model_selection import train_test_split

In [50]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

## Train and Test the Network

Let's call the function now to create our model.

In [51]:
model = model()

Now we'll train about 50 epochs

In [52]:
epochs=50
model.fit(X_train,y_train,epochs=epochs,verbose=1)

Epoch 1/50
23/23 [==============================] - 1s 10ms/step - loss: 848565.5000
Epoch 2/50
23/23 [==============================] - 0s 9ms/step - loss: 530028.2500
Epoch 3/50
23/23 [==============================] - 0s 9ms/step - loss: 305751.8438
Epoch 4/50
23/23 [==============================] - 0s 10ms/step - loss: 159045.4375
Epoch 5/50
23/23 [==============================] - 0s 8ms/step - loss: 73038.5156
Epoch 6/50
23/23 [==============================] - 0s 9ms/step - loss: 29250.9746
Epoch 7/50
23/23 [==============================] - 0s 8ms/step - loss: 10453.5732
Epoch 8/50
23/23 [==============================] - 0s 8ms/step - loss: 4097.3716
Epoch 9/50
23/23 [==============================] - 0s 8ms/step - loss: 2338.5559
Epoch 10/50
23/23 [==============================] - 0s 8ms/step - loss: 1990.2250
Epoch 11/50
23/23 [==============================] - 0s 8ms/step - loss: 1887.7706
Epoch 12/50
23/23 [==============================] - 0s 8ms/step - loss: 1833.0189
Epoch 13/50
23/23 [==============================] - 0s 8ms/step - loss: 1782.7112
Epoch 14/50
23/23 [==============================] - 0s 9ms/step - loss: 1731.1443
Epoch 15/50
23/23 [==============================] - 0s 9ms/step - loss: 1681.7017
Epoch 16/50
23/23 [==============================] - 0s 9ms/step - loss: 1630.2854
Epoch 17/50
23/23 [==============================] - 0s 8ms/step - loss: 1580.8270
Epoch 18/50
23/23 [==============================] - 0s 8ms/step - loss: 1531.5763
Epoch 19/50
23/23 [==============================] - 0s 8ms/step - loss: 1481.3683
Epoch 20/50
23/23 [==============================] - 0s 8ms/step - loss: 1434.6064
Epoch 21/50
23/23 [==============================] - 0s 9ms/step - loss: 1388.3439
Epoch 22/50
23/23 [==============================] - 0s 9ms/step - loss: 1342.0558
Epoch 23/50
23/23 [==============================] - 0s 8ms/step - loss: 1296.0387
Epoch 24/50
23/23 [==============================] - 0s 9ms/step - loss: 1251.1812
Epoch 25/50
23/23 [==============================] - 0s 8ms/step - loss: 1207.4998
Epoch 26/50
23/23 [==============================] - 0s 8ms/step - loss: 1165.9531
Epoch 27/50
23/23 [==============================] - 0s 7ms/step - loss: 1126.4142
Epoch 28/50
23/23 [==============================] - 0s 8ms/step - loss: 1085.9958
Epoch 29/50
23/23 [==============================] - 0s 8ms/step - loss: 1047.6622
Epoch 30/50
23/23 [==============================] - 0s 8ms/step - loss: 1010.7756
Epoch 31/50
23/23 [==============================] - 0s 8ms/step - loss: 975.4000
Epoch 32/50
23/23 [==============================] - 0s 8ms/step - loss: 941.9953
Epoch 33/50
23/23 [==============================] - 0s 9ms/step - loss: 911.1779
Epoch 34/50
23/23 [==============================] - 0s 8ms/step - loss: 876.2908
Epoch 35/50
23/23 [==============================] - 0s 8ms/step - loss: 846.4096
Epoch 36/50
23/23 [==============================] - 0s 7ms/step - loss: 817.0841
Epoch 37/50
23/23 [==============================] - 0s 7ms/step - loss: 787.9231
Epoch 38/50
23/23 [==============================] - 0s 8ms/step - loss: 761.6341
Epoch 39/50
23/23 [==============================] - 0s 8ms/step - loss: 736.7788
Epoch 40/50
23/23 [==============================] - 0s 8ms/step - loss: 712.0204
Epoch 41/50
23/23 [==============================] - 0s 9ms/step - loss: 687.0783
Epoch 42/50
23/23 [==============================] - 0s 7ms/step - loss: 664.9546
Epoch 43/50
23/23 [==============================] - 0s 9ms/step - loss: 642.5830
Epoch 44/50
23/23 [==============================] - 0s 9ms/step - loss: 622.4023
Epoch 45/50
23/23 [==============================] - 0s 8ms/step - loss: 602.3141
Epoch 46/50
23/23 [==============================] - 0s 9ms/step - loss: 583.2794
Epoch 47/50
23/23 [==============================] - 0s 8ms/step - loss: 565.0305
Epoch 48/50
23/23 [==============================] - 0s 8ms/step - loss: 549.2724
Epoch 49/50
23/23 [==============================] - 0s 9ms/step - loss: 533.4005
Epoch 50/50
23/23 [==============================] - 0s 9ms/step - loss: 515.1046

Next we need to evaluate the model on the test data.

In [53]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 7ms/step - loss: 504.9946
10/10 [==============================] - 0s 6ms/step

504.9945983886719

Now we need to compute the mean squared error between the predicted concrete strength and the actual concrete strength.

In [54]:
from sklearn.metrics import mean_squared_error

In [55]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

504.9946219278907 0.0

Create a list of 50 mean squared errors and report mean and the standard deviation of the mean squared errors.

In [ ]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 217.55230712890625
10/10 [==============================] - 0s 5ms/step
MSE 2: 171.79225158691406
10/10 [==============================] - 0s 5ms/step
MSE 3: 116.91492462158203
10/10 [==============================] - 0s 4ms/step
MSE 4: 117.08979034423828
10/10 [==============================] - 0s 4ms/step
MSE 5: 116.7727279663086
10/10 [==============================] - 0s 5ms/step
MSE 6: 93.5916748046875
10/10 [==============================] - 0s 5ms/step
MSE 7: 102.82447052001953
10/10 [==============================] - 0s 6ms/step
MSE 8: 81.08439636230469
10/10 [==============================] - 0s 5ms/step
MSE 9: 87.00141143798828
10/10 [==============================] - 0s 6ms/step
MSE 10: 75.576416015625
10/10 [==============================] - 0s 5ms/step
MSE 11: 76.06765747070312
10/10 [==============================] - 0s 4ms/step
MSE 12: 56.01353454589844
10/10 [==============================] - 0s 5ms/step
MSE 13: 59.104129791259766
10/10 [==============================] - 0s 6ms/step
MSE 14: 55.396446228027344
10/10 [==============================] - 0s 5ms/step
MSE 15: 50.9366340637207
10/10 [==============================] - 0s 5ms/step
MSE 16: 55.96770095825195
10/10 [==============================] - 0s 4ms/step
MSE 17: 48.884254455566406
10/10 [==============================] - 0s 7ms/step
MSE 18: 52.959049224853516
10/10 [==============================] - 0s 6ms/step
MSE 19: 48.4449577331543
10/10 [==============================] - 0s 8ms/step
MSE 20: 53.68843078613281
10/10 [==============================] - 0s 5ms/step
MSE 21: 43.49403762817383
10/10 [==============================] - 0s 5ms/step
MSE 22: 45.845890045166016
10/10 [==============================] - 0s 5ms/step
MSE 23: 49.471561431884766
10/10 [==============================] - 0s 5ms/step
MSE 24: 47.83351516723633
10/10 [==============================] - 0s 5ms/step
MSE 25: 60.662330627441406
10/10 [==============================] - 0s 5ms/step
MSE 26: 49.36996078491211
10/10 [==============================] - 0s 5ms/step
MSE 27: 54.68592071533203
10/10 [==============================] - 0s 5ms/step
MSE 28: 51.46609878540039
10/10 [==============================] - 0s 7ms/step
MSE 29: 52.55145263671875
10/10 [==============================] - 0s 8ms/step
MSE 30: 51.30960464477539
10/10 [==============================] - 0s 5ms/step
MSE 31: 58.97365951538086
10/10 [==============================] - 0s 5ms/step
MSE 32: 43.20169448852539
10/10 [==============================] - 0s 4ms/step
MSE 33: 48.53458023071289
10/10 [==============================] - 0s 6ms/step
MSE 34: 49.4242057800293
10/10 [==============================] - 0s 5ms/step
MSE 35: 47.03175735473633
10/10 [==============================] - 0s 5ms/step
MSE 36: 52.98643493652344
10/10 [==============================] - 0s 5ms/step
MSE 37: 55.064144134521484
10/10 [==============================] - 0s 5ms/step
MSE 38: 53.05228042602539
10/10 [==============================] - 0s 5ms/step
MSE 39: 49.441856384277344
10/10 [==============================] - 0s 5ms/step
MSE 40: 52.664981842041016
10/10 [==============================] - 0s 5ms/step
MSE 41: 55.44783401489258
10/10 [==============================] - 0s 11ms/step
MSE 42: 45.74123001098633
10/10 [==============================] - 0s 5ms/step
MSE 43: 59.404563903808594
10/10 [==============================] - 0s 5ms/step
MSE 44: 53.810096740722656
10/10 [==============================] - 0s 6ms/step